<div class="article-footer border-0 row m-0">
  <div class="col pl-0">
    <%- partial('card/tag') %>
      <%- partial('card/category') %>
  </div>
  <div class=" float-right">
    <a title="<%= __('share') %>" data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="ml-2 article-share-link float-right">
      <%- theme.icons.share %>
    </a>
    <% if (post.comments && config.disqus_shortname){ %>
          <!-- <span class="float-right text-secondary pl-2">|</span> -->
          <a title="<%= __('comment') %>" href="<%- post.permalink %>#disqus_thread" class="article-comment-link float-right">
            <%- theme.icons.comment %>
          </a>
        <% } %>
      </div>
    </div>