<% if (post.prev || post.next){ %>
<nav id="article-nav">
  <ul class="pagination">
    <li class="page-item">
  <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="page-link">
      <strong class="article-nav-caption"><%= __('newer') %></strong>
      <span class="article-nav-title">
        <% if (post.prev.title){ %>
          <%= post.prev.title %>
        <% } else { %>
          (no title)
        <% } %>
      </span>
    </a>
  </li>
  <% } %>
  <% if (post.next){ %>
    <li class="page-item">
    <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="page-link">
      <strong class="article-nav-caption"><%= __('older') %></strong>
      <span class="article-nav-title"><%= post.next.title %></span>
    </a>
  </li>
  <% } %>
</ul>
</nav>
<% } %>
