

  <section class="pt-5">
    <div class="<%= theme.classes.container %>">
      <div class="row">

      <% if (theme.sidebar == 'left'){ %>
        <div class="<%= theme.classes.sidebar %>">
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        </div>
        <div class="<%= theme.classes.feed %>">
          <div class="row">
            <%- partial('_partial/home', {pagination: 2, post: page, index: true}) %>

          </div>
        </div>
      <% } %>
      <% if (theme.sidebar == 'right'){ %>
        <div class="<%= theme.classes.feed %>">
          <div class="row">
            <%- partial('_partial/home', {pagination: 2, post: page, index: true}) %>

          </div>
        </div>
        <div class="<%= theme.classes.sidebar %>">
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        </div>
      <% } %>
      <% if (theme.sidebar == 'none'){ %>
        <div class="col">
          <div class="row">
            <%- partial('_partial/home', {pagination: 2, post: page, index: true}) %>

          </div>
        </div>
      <% } %>

      </div>
    </div>
  </section>
