<% if (site.posts.length){ %>
  <div class="mb-5" >
    <div class="">
      <h4 class="">
        <%= __('recent_posts') %>
      </h4>
      <ul class="list-group list-group-flush mt-3">
      <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
        <li class="list-group-item border-0 pl-0 pr-0 bg-transparent">
          <a href="<%- url_for(post.path) %>">

            <img height="80" width="80" class="bg-light rounded float-left mr-3" src="<%= post.cover || post.photos[0] %>" alt="">
            <%- truncate(post.title || '(no title)', {length: 45}) %>

          </a>
          <div class="small">
            <%- partial('_partial/card/date', {post, class_name: 'text-secondary', date_format: config.date_format || 'MMM Do YY'}) %>

          </div>

        </li>
        <% }) %>
      </ul>


    </div>
  </div>
<% } %>
