<%
var readMoreUrl = url_for(post.path);
var readMoreText = theme.excerpt_link || 'Continue reading';
var exTop = (post.photos && post.photos.length || post.cover) ? 'pt-3' : '';
var cardClass = postIndex == 0 ? 'card p-3 border-0 pb-2 mb-3' : '' 
%>

<article id="<%= post.layout %>-<%= post.slug %>" class="col-12 mb-3 article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="<%= theme.classes.postCard %> <%= cardClass %>">
      <% if (post.link || post.title){ %>
        <%- partial('card/title', {class_name: 'card-title mb-0'}) %>
        <% } %>
        
        <div class="pb-3">
          <%- partial('card/date', {class_name: 'text-secondary', date_format: config.date_format || 'MMM Do YY'}) %>
        </div>
        
        <%- partial('card/image', {style: 'card-img-top'}) %>
        <% if (post.excerpt){ %>
          <div class="card-text <%= exTop %>">
            <%- post.excerpt %>
            <% readMoreUrl = readMoreUrl + '#more' %>
            <a class="text-danger" href="<%- readMoreUrl %>">
              <%= readMoreText %>
            </a>
          </div>
        <% } else { %>
          <a class="text-danger" href="<%- readMoreUrl %>">
            <%= readMoreText %>
          </a>
        <% }  %>
    
</div>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
