<article id="<%= post.layout %>-<%= post.slug %>" class="col article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="blog-post">
    <%- partial('post/gallery') %>
    <div class="article-entry" itemprop="articleBody">
      <%- post.content %>
    </div>
    <div class="article-footer">
      <div class="btn-toolbar float-right">
        <div class="btn-group">
          <div class="">
            <div data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="ml-2 article-share-link btn btn-outline-primary"><%= __('share') %></div>
          </div>
          <% if (post.comments && config.disqus_shortname){ %>
            <a href="<%- post.permalink %>#disqus_thread" class="btn ml-2 btn-outline-secondary article-comment-link"><%= __('comment') %></a>
          <% } %>

        </div>
      </div>
      <div class="float-left">

      <% if (!index){ %>
      <%- partial('post/nav') %>
      <% } %>
      </div>

    </div>
  </div>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
