
<%
  const getActiveClass = (link) => {
    const isSame = path.split('/index.html')[0] === link.split('/')[1];
    if(isSame) {
      return 'active';
    } else if (path === 'index.html' && link == '/') {
      return 'active';
    }
    return '';
  }
%>

<nav class="<%= theme.classes.nav %>">
  <div class="container pl-2">

    <% if(config.logo) { %>
      <a class="navbar-brand p-0" href="<%- url_for() %>" id="logo">
        <img class="" height="50" src="<%= config.logo  %>" alt="">
      </a>
      <% } %>
      
      <ul class="navbar-nav ml-auto">
        <% for (var i in theme.menu){ %>
          <li class="nav-item <%= getActiveClass(theme.menu[i]) %>">
            <a class="nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
          </li>
          <% } %>
        </ul>
        <% if (theme.rss){ %>
          <a id="nav-rss-link" class="navbar-text" href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>"></a>
        <% } %>
          
  </div>
</nav>
