
<%
var getImage = ({cover, photos}) => {
  if(cover && cover.length) {
    return cover;
  }
  if(photos && photos.length) {
    return photos[0];
  }
  return `http://lorempixel.com/400/200/technics/${Math.random().toString(36).substring(7)}`
}
%>

<% if (pagination == 2){ %>
  <% page.posts.each(function(post, postIndex){ %>
    <% post.cover = getImage(post) %>
    <%- partial('article', {post: post, index: true, postIndex}) %>
  <% }) %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% post.cover = getImage(post) %>

    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archive-year-wrap">
          <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
        </div>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>
<% if (page.total > 1){ %>
  <%- partial('pagination') %>
<% } %>
